* {
    /* border: 1px solid #000 !important; */
}

.eBajaPage {
    border: 1px solid #00000000;
    /* background: linear-gradient(135deg, #f1f1f1, #fff1de); */
    position: relative;
    margin-top: 80px;
    z-index: 2;
}

.eBajaPage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/shapelined.jpg');
    background-repeat: repeat-y;
    /* background-size: contain; */
    /* background: #000; */
    width: 100%;
    height: 100%;
    opacity: 0.2;
    transform: rotate(180deg);
    z-index: -1;

}

.eBajaPage>div {
    border-bottom: 1px solid #8989893f;
    color: #363636;
    font-size: 1.15rem;
    min-height: 90vh;
    overflow: hidden;
}

.bajasae {
    position: relative;
    padding: 100px 60px;
    /* overflow: hidden; */
}

.saeIndia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px !important;
}

.saeCover {
    display: flex;
    /* margin-top: 50px; */
    margin: 50px 0;
    width: 75%;
}

.frontContent,
.content {
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
}

.frontContent span {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.frontContent {
    transform: translate(-80px, -13px);
}

.contentExpansion {
    display: flex;
    gap: 50px;
    width: 100%;
    align-items: center;
    position: relative;
}

.content {
    margin-top: 20px;
}

.content p {
    line-height: 2rem;
    padding: 0 50px;
}

.objective h1 {
    margin-top: 35px;
    padding: 10px 0;
}

@media (min-width: 1000px) {

    .contentExpansion {
        /* border: 1px solid #ff0000; */
        /* padding: 10px; */
        margin-top: 70px;
    }

    .saeContent {
        border-radius: 30px;
        font-size: 1.3rem;
        right: 100px;
        transform: translateY(-50%);
        top: 50%;
        padding: 100px;
        position: absolute;
        width: 40vw;
        z-index: 1;
    }

    .eBajaPage .saeIndia {
        flex-direction: column;
        align-items: center;
        gap: 10px !important;
        padding: 100px 0;
    }

    .contentExpansion .imageSpace {
        width: 100vw;
        /* position: absolute; */
        left: 0;
        top: 0px;
    }

    .contentExpansion .imageSpace img {
        width: 100vw;
    }


}

@media (max-width: 1280px) {
    .saeIndia {
        /* padding: 80px 0 !important; */
    }

    .frontContent span {
        font-size: 2rem;
    }

    .bajasae {
        padding: 45px 0 !important;
        gap: 0 !important;
    }

    .objective h1 {
        margin-top: 20px;
    }
}

@media (max-width: 1200px) {

    .saeContent {
        font-size: 1rem;
        padding: 80px;
        width: 50vw;
        /* bottom: 0; */
        right: 60px;
    }

    .saeCover {
        width: 90%;
        /* border: 1px solid #000; */
    }
}

@media (max-width : 1000px) {
    .saeCover {
        gap: 40px;
        flex-direction: column;

    }

    .frontContent {
        transform: none;
    }

    .frontContent span span {
        /* padding: 0; */
        margin: 0;
    }

    .content,
    .saeContent p {
        font-size: 1rem;
    }

    .contentExpansion .saeContent {
        width: 50%;
    }

    .contentExpansion .imageSpace {
        width: 50%;
    }


    .contentExpansion {
        width: auto;
        gap: 20px;
        padding: 20px 0;
    }

    .eBajaPage .initialHeader span {
        margin-left: 0;
    }

    .saeContent {
        font-size: 1rem;
        padding: 20px;
    }
}

@media (max-width : 800px) {
    .contentExpansion {
        flex-direction: column;
        width: auto;
    }

    .contentExpansion>div {
        width: auto !important;
    }

    .bajasae {
        flex-direction: column;
        padding: 20px !important;
    }

    .content p {
        padding: 0 20px;
    }

    .saeContent {
        padding: 10px !important;
    }
}

@media (max-width : 580px) {
    .eBajaPage {
        margin-top: 50px;
    }
}

@media (max-width : 580px) {
    .eBajaPage .headerText {
        font-size: 1.1rem;
    }

    .frontContent span {
        font-size: 1.25rem;
    }

    .eBajaPage .initialHeader span {
        min-width: 70px !important;
    }

    .eBajaPage .headerText {
        min-width: 125px;
    }
}

@media (max-width : 400px) {
    .eBajaPage {
        padding: 40px 0;
    }
    
    .frontContent span {
        margin: 0 15px;
    }

    .saeCover {
        gap: 20px;
    }

    .sae .headerText {
        font-size: 0.85rem;
        min-width: 0;
        padding: 0 10px;
    }

    .sae span {
        margin-left: 0;
        min-width: 0;
        width: 55px;
    }

    .bajasae {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .eBajaPage .content p,
    .saeContent p {
        padding: 10px;
        font-size: 0.75rem !important;
        line-height: 20px !important;
    }

}

@media (max-width : 300px) {
    .frontContent span {
        font-size: 1rem;
    }

    .saeContent p {
        font-size: 0.8rem;
    }

}