.header {
    background: #f1f1f1;
    /* border: 1px solid #000; */
    border-top: 1px solid #848484;
    border-bottom: 1px solid #848484;
    /* color: white; */
    display: flex;
    align-items: center;
    /* height: 100px; */
    user-select: none;
    z-index: 10;
}

.header>div ul li a {
    border: 3px solid #00000000;
    display: flex;
    letter-spacing: 2px;
    padding: 30px 10px;
    transition: all 0.1s;
}

.header>div ul li a:hover , .active {
    border-bottom: 3px solid red !important;
}

.left {
    /* border: 1px solid #fc2f2f; */
    /* border-right: 1px solid #848484; */
}

.left,
.right ul {
    /* border: 1px solid #000; */
    /* cursor: pointer; */
    display: flex;
    gap: 30px;
    /* margin: 20px 0; */
}

.left,
.right ul li {
    /* border: 1px solid #000000; */
    /* display: flex; */
    font-size: 1.1rem;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0px 40px;
}

.right {
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.center {
    border: 1px solid #848484;
    height: 50px;
    width: 1px;
}

/* .hoverBorder {
    border-top: 3px solid #ff0000;
    display: flex;
    position: absolute;
    transform: translate(34px);
    top: 85px;
    width: 100px;
    z-index: 5;
} */
