.text-shpere {
    position: relative;
    top: 0;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: lemon;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}

.tagcloud--item {
    color: #8D493A;
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: #FFB22C;
}

@media (max-width:450px) {
    .text-shpere {
        display: none;
    }
}