:root {
    --color: #000;
}

.initialHeader {
    /* border: 1px solid #000; */
    display: flex;
    align-items: flex-end;
}

.headerText {
    /* border: 1px solid #000; */
    color: var(--color);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    min-width: 150px;
}

.span {
    display: flex;
    margin-left: 50px;
    min-width: 100px;
    max-width: 150px;
}

.initialHeader span {
    height: 1px;
    width: 0;
    z-index: 9;
    /* animation: underlineMotion; */
}

@keyframes underlineMotion {
    0% {
        .postHeadingUnderline {
            width: 0;
        }
    }

    100% {
        .postHeadingUnderline {
            width: 100%;
        }
    }
}