.teamMemberList {
    /* border: 1px solid #000; */
    display: flex;
    margin-left: 20px;
    /* overflow-x: scroll; */
    /* scrollbar-width: none;
    scrollbar-color: #ac4f4f4f !important; */
    position: relative;
}

.teamMemberList ul {
    display: flex;
    /* overflow: hidden; */
}

.membersIcon {
    border: 1px solid #00000015;
    border-top: none;
    border-bottom: none;
    /* width: 58vw; */
    overflow-x: scroll;
    scrollbar-width: none;
    scrollbar-color: #ac4f4f4f !important;
}

.teamMemberList ul li {
    padding: 0 20px;
}

.members {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members p {
    text-align: center;
    width: 100px;
}

.member {
    border: 2px solid #6565658e;
    border-radius: 50%;
    margin: 0 auto;
    padding: 8px;
    overflow: hidden;
}

.memberImageContainer {
    z-index: 10;
    width: 100px;
    height: 100px;
    border: 1px solid #565656;
    border-radius: 50%;
    transition: all 1s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.memberActive .member {
    border: 2px solid red;
}

.memberImageContainer:hover {
    scale: 1.2;
    border: 1px solid #ffffff46;
}

.teamMemberList .iconScrollIndicator {
    background: transparent;
    display: flex;
    padding-top: 40px;
    position: absolute;
    right: 0;
}


.indicator {
    background: transparent;
}

.indicator span {
    /* position: absolute; */
    background: transparent;
    font-size: 1.2rem;
    font-weight: 100;
    opacity: 0;
    user-select: none;
}

.indicator span:nth-child(2) {
    animation-delay: 0.25s;
}

.indicator span:last-child {
    animation-delay: 0.5s;
}

.iconScrollIndicator {
    bottom: 15px;
}



@keyframes indicatorAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}



@media (min-width: 1370px) {
    .membersIcon {
        width: 100%;
    }
}

@media (max-width: 1370px) {
    .membersIcon {
        width: 65vw;
    }

    .iconScrollIndicator span {
        animation: indicatorAnimation 2s infinite;
        -webkit-animation: indicatorAnimation 2s infinite;
    }
}

@media (max-width: 1200px) {
    .membersIcon {
        width: 57vw;
    }
}
@media (max-width: 1000px) {
    .membersIcon {
        width: 50vw;
    }
}

@media (max-width: 800px) {
    .membersIcon {
        width: 100vw;
    }
    
    .theTeamPage {
        flex-direction: column;
        margin-left: 0;
    }

    .teamMembers {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .teamMemberList{
        margin-left: 0;
    }

}

@media (max-width: 580px) {
    .teamMemberList {
        padding: 0;
        margin: 0;

    }
}

@media (max-width: 500px) {
    .member img {
        min-width: 80px;
        min-height: 80px;
    }

    .teamMemberList ul li  {
        padding: 0 10px !important;
    }
    
    .members p {
        font-size: 0.9rem;
        width: 70px;
    }
}

@media (max-width: 400px) {
    .member img {
        min-width: 65px;
        min-height: 65px;
    }

}
