.teamMemberList {
    /* border: 1px solid #000; */
    display: flex;
    margin-left: 20px;
    /* overflow-x: scroll; */
    /* scrollbar-width: none;
    scrollbar-color: #ac4f4f4f !important; */
    position: relative;
}

.teamMemberList ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 100px; */
    gap: 50px;
    padding:  50px 0;
}

.membersIcon {
    /* border: 1px solid #00000015; */
    border-top: none;
    border-bottom: none;
}

.members {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members p {
    text-align: center;
    /* width: 100px; */
    /* font-size: 1.5rem; */
}

.member {
    /* border: 2px solid #6565658e; */
    border-radius: 50px;
    margin: 0 auto;
    /* padding: 8px; */
    overflow: hidden;
}

.hoverExpand{
    border: 1px solid #000;
    background: #fff;
    /* display: none; */
    opacity: 0;
    position: fixed;
    left: auto;
    /* top: 20; */
    z-index: 100;
    border-radius: 30px;
    /* scale: 0.8; */
}

.members:hover .hoverExpand {
    /* display: block; */
    opacity: 1;
    /* z-index: 1; */
}

.memberImageContainer {
    z-index: 10;
    width: 300px;
    height: 400px;
    /* border: 1px solid #565656; */
    /* border-radius: 50%; */
    transition: all 1s;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.memberActive .member {
    border: 2px solid red;
}

.memberImageContainer:hover {
    scale: 1.2;
    /* border: 1px solid #ffffff46; */
}

.teamMemberList .iconScrollIndicator {
    background: transparent;
    display: flex;
    padding-top: 40px;
    position: absolute;
    right: 0;
}


.indicator {
    background: transparent;
}

.indicator span {
    /* position: absolute; */
    background: transparent;
    font-size: 1.2rem;
    font-weight: 100;
    opacity: 0;
    user-select: none;
}

.indicator span:nth-child(2) {
    animation-delay: 0.25s;
}

.indicator span:last-child {
    animation-delay: 0.5s;
}

.iconScrollIndicator {
    bottom: 15px;
}

.hoverDetailsAnimation{
    animation:  all hoverDetailsAnimation 2s;
}


.mobile_social {
    /* border: 1px solid #000; */
    display: flex;
    justify-content: center;
    gap: 20px;
    opacity: 0;
    width: 100%;
}

.mobile_social img {
    width: 50px;
}

@keyframes hoverDetailsAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5tab;
    }
}



@media (max-width: 1370px) {
   

    .iconScrollIndicator span {
        animation: indicatorAnimation 2s infinite;
        -webkit-animation: indicatorAnimation 2s infinite;
    }
}

@media (max-width: 800px) {
    
    .theTeamPage {
        flex-direction: column;
        margin-left: 0;
    }

    .teamMembers {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .teamMemberList{
        margin-left: 0;
    }

    .hoverExpand {
        left: 10px !important;
        right: 10px !important;
    }

}

@media (max-width: 580px) {
    .teamMemberList {
        padding: 0;
        margin: 0;

    }
}

@media (max-width: 500px) {
    .member img {
        min-width: 80px;
        min-height: 80px;
    }

    .teamMemberList ul li  {
        padding: 0 10px !important;
    }
    
    .members p {
        /* font-size: 0.9rem; */
        text-align: center;
    }

    .hoverExpand {
        display: none;
    }

    .mobile_social {
        margin: 10px 0;
        opacity: 1;
    }
}

@media (max-width: 400px) {
    .member img {
        min-width: 65px;
        min-height: 65px;
    }

    .memberImageContainer {
        width: 90vw;
        padding: 0;
    }
    

}
