
.memberDetailExpansion {
    /* border: 1px solid #000; */
    height: 100vh;
    display: flex;
    /* align-items: flex-end; */
    /* margin-left: 300px; */
}

.headMemberExpansion {
    display: none;
    opacity: 0;
    right: 0;
    padding: 15px;
    width: 80%;
    z-index: 1;
}

.socialDetial {
    letter-spacing: 2px;
}

.expansionLeft {
    width: 40%;
}

.socialDetial h1 {
    padding: 20px;
}

.socialDetial ul li {
    /* border: 1px solid #000; */
    /* display: flex; */
    margin-top: 0px;
    /* justify-content: center; */
    padding: 10px;
    /* gap: 20px; */
}

.socialDetial ul a {
    align-items: center;
    /* border: 1px solid #000; */
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    justify-content: space-between;
    max-width: 200px;
}

.socialDetial a:hover {
    scale: 1.1;
}

.socialDetial img {
    width: 50px;
}

.expansionRight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    /* border: 1px solid #000; */
}

.expansionRight img {
    /* height: auto; */
    /* width: 50%; */
    max-height: 650px;
}