/* #root>header {
    background: transparent;
}

#root>header ul {
    color: white;
}

#root>header h1 {
    color: rgba(255, 255, 255);
}
     */

.formulaBharatPage {
    /* border: 1px solid #ff0000; */
    background: #000;
    color: white;
}

.formulaBharatPage * {
        font-family: "Poppins", cursive;
}

.formulavideoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
    position: relative;
}

.formulavideoContent::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    /* background: #00000063; */
    box-shadow: 0px -60px 80px rgb(0, 0, 0) inset;
    z-index: 1;
}

.slide {
    margin-top: -120px;
    scale: 1;
    opacity: 0.4;
}

.slide path {
    animation: slideAnimation 2s linear infinite;
}

.slide path:nth-child(2) {
    animation-delay: 0.3s;
}

.slide path:nth-child(3) {
    animation-delay: 0.6s;
}

.frontHeadingContent {
    position: absolute;
    top: 30%;
}

.frontHeadingContent h1 span {
    /* color: red; */
    font-size: 4rem;
    text-align: center;
}

.team {
    /* border: 1px solid #ff0707; */
    padding: 0px 15px;
}

.teamContainer {
    padding: 50px 0;
}





@keyframes slideAnimation {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}