.memberCard {
    min-width: 100px;
    margin: 1rem 0;
    width: 14rem;
}

.memberCard .diss {
    letter-spacing: 2px;
    /* font-weight: 700; */
    text-align: center;
}

@media (max-width: 800x) {
    .memberCard{
        min-width: 80px;
    }
}

@media (max-width: 500x) {
    .memberCard{
        margin: 1rem 0 !important;
        min-width: none;
    }
}