.sponsHead .memberCard {
  margin: 0 1rem;
}

.aboutPage .timeline {
  width: 60% !important;
}

.aboutPage .timeline .lol {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.aboutPage .fragment {
  margin: 1px !important;
}

@media (max-width: 900px) {
  .aboutPage .timeline {
    width: 90% !important;
  }
}