* {
    --black: #000000ff;
    --mutedBlack: #3b3b3b;
    --black-bean: #2f1000ff;
    --seal-brown: #621b00ff;
    --brown: #945600ff;
    --dustyWhite: rgb(255, 241, 222);
    --barelyBrown: rgb(170, 163, 155);
    --tawny: #c75000ff;
    --deepTawny: rgb(106, 42, 0);
    --modestbrown: rgb(255, 251, 245);
}