.otherMembers ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 30px;
}

.social {
    /* border: 1px solid #000; */
    border-top-right-radius: 40px;
    box-shadow: 10px -10px 40px #000000b1;
    overflow: hidden;
    position: relative;
}

.individualImage {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 3;
}


.individualsDetail {
    width: 80%;
}

.individualsDetail p {
    text-align: center;
    padding: 5px 0;
}

.individualsDetail .domain {
    border: 1px solid #00000020;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    gap: 10px;
}

.accounts {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 0;
    opacity: 0;
    margin-top: -10px;
    position: absolute;
    top: 100%;
    transition: all 0.8s;
    width: 100%;
    z-index: -1;
}

.accounts a {
    /* border: 1px solid #000; */
    display: block;
    text-align: center;
}

.accounts h1 {
    color: white;
    font-size: 1.6rem;
    font-weight: 800;
    transition: all 0.8s;
    z-index: 5;
}




@media (min-width: 768px) {
    .individualImage {
        height: 550px;
        width: 350px;
    }

    .social:hover {
        align-items: center;
    }

    .social:hover .accounts {
        opacity: 1;
        position: absolute;
        top: 65%;
        z-index: 4;
    }

    .individualImage::before {
        content: '';
        position: absolute;
        border-top-right-radius: 40px;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 0.4s;
        z-index: 4;
    }

    .social:hover .individualImage::before {
        background-color: #05050563;
        top: 0;
    }

    
}

@media (max-width: 768px) {
    .individualImage {
        height: 800px !important;
        width: 550px !important;
        /* width: 100%!important; */
    }

    .individualImage::before {
        content: '';
        position: absolute;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        top: 85%;
        left: 0;
        right: 0;
        bottom: 0;
        /* background-color: linear-gradient(to bottom, transparent, #000); */
        background-color: #000000a1;
        /* z-index: 4; */
    }
    
    .individualImage h1 {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    .individuals {
        width: 100%;
        margin: 0 !important;
    }

    .individual {
        padding-bottom: 100px;
    }

    .accounts {
        height: auto;
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
        opacity: 1;
        margin: 0;
        position: relative;
        margin-top: -100px ;
        padding: 10px 0;
        /* border: 1px solid #ff0000; */
        /* bottom: -200px; */
        z-index: 10;
    }
    
    .accounts h1 {
        /* color: #000; */
        font-size: 1rem;
    }
}

@media (max-width: 567px) {
    .individualImage {
        height: 700px !important;
        width: 400px !important;
    }
}

@media (max-width: 500px) {
    .individual {
        height: 90vh;
        justify-content: center;
    }

    .individualImage {
        height: 500px !important;
    }
}

@media (max-width: 400px) {
    .individual {
        margin: 30px 5px;
        border: 1px solid #000;
        border-radius: 0 0 0px 15px;
        border-top: none;
        border-right: none;
        /* width: 100%; */
    }
}