.content {
    /* border: 1px solid #000; */
    margin: 0;
    padding: 0;
    align-items: center;
    z-index: 1;
    position: relative;
}

.phases .phaseOne {
    /* border: 1px solid #000; */
    /* margin: 0; */
    padding: 0;
    position: relative;
}

.phases {
    background: #05060f;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 0;
    position: relative;
    margin-top: 90px;
}

.headerPhase {
    /* background: transparent; */
    display: flex;
    align-items: center;
    padding: 50px;
    padding-bottom: 0;
    width: 100%;
}

@media (max-width: 1200px) {
    .phases .content {
        padding-left: 30px;
    }
}

@media (max-width: 500px) {
    .phases {
        margin-top: 40px;
    }

    .phases .headerText {
        min-width: auto;
        font-size: 1.3rem;
    }

    .phases .initialHeader span {
        margin-left: 20px;
    }

    .phases .initialHeader {
        top: 4.7rem;
    }

    .content h1 {
        font-size: 1.12rem;
    }
    
}

@media (max-width: 400px) {
    .phases .headerPhase {
        padding: 30px;
    }

    .phases .headerText {
        font-size: 1.2rem;
    }

    .phases .initialHeader span {
        min-width: 80px;
    }
}